[Unit]
Description=firecracker-containerd container runtime
Documentation=https://github.com/firecracker-microvm/firecracker-containerd
After=network.target local-fs.target

[Service]
ExecStartPre=-/sbin/modprobe overlay
ExecStartPre=/usr/local/libexec/devmapper-setup.sh
ExecStart=/usr/local/bin/firecracker-containerd

Delegate=yes
KillMode=process
Restart=always
LimitNPROC=infinity
LimitCORE=infinity
LimitNOFILE=1048576
TasksMax=infinity

[Install]
WantedBy=multi-user.target
